@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --light-coral: rgba(240, 128, 128, 0.507);
  --sweet-salmon: #f4978eff;
  --cor-fundo: #f8ad9dff;
  --peach-fuzz: #fbc4abff;
  --soft-apricot: #ffdab9ff;
}

body {
  background-color: var(--cor-fundo);
}

p, h1, h2 {
  font-family: "Inter", sans-serif;
}

.btn{
  background-color: var(--peach-fuzz);
  color: black;
  border: none;
}

.btn:hover{
  background-color: rgba(243, 178, 148, 0.726);
  transition: ease 0.3s;
  color: black;
}









